<a href="/books/new">Create a new book!</a>

<% @books.each do |book| %>
  <p>Title: <%= book.title  %></p>
  <p>Pages: <%= book.pages  %></p>
  <p>Year: <%= book.year  %></p>
  <p>Author(s): <%= book.authors.pluck(:name).join(", ")  %></p>
<% end %>
