<a href="/books/new">Create a new book!</a>

<% @books.each do |book| %>
  Title: <p><%= book.title  %></p>
  Pages: <p><%= book.pages  %></p>
  Year: <p><%= book.year  %></p>
  Author(s): <%= book.authors.pluck(:name).join(", ")  %>
<% end %>
