<form action="/books" method="post">
    <input name="book[title]" type="text" placeholder="Title" />
    <input name="book[pages]" type="number" placeholder="Pages" />
    <input name="book[author]" type="text" placeholder="Author" />
    <input name="book[year]" type="number" placeholder="Year" />
    <input name="submit" type="submit" value="Create!" />
</form>
