/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 html, body{
     margin: 0;
     padding: 0;
     min-width: 100%;
     width: 100%;
     max-width: 100%;
     min-height: 100%;
     height: 100vh;
     max-height: 100%;
 }

body {
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

a {
  color: white;
}

 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background: #5a9365;
}

.navbar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 10px;
}

.nav-link {
  margin: 10px;
  text-decoration: none;
}

.view {
  grid-column: 1 / 6;
  grid-row: 2 / 6;
}

 .flex-box, .stats-box, .user-reviews-box {
   min-height: 400px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: flex-start;
   width: 100%;
 }

 .user-reviews-box {
   justify-content: flex-start;
 }

 .stats-box{
   width: 90%;
   margin: auto;
   justify: center;
   min-height: 175px;
   border: 1px solid grey;
   border-radius: 10px;
   background: rgba(249, 249, 249, 0.2);
 }

 .book-box {
   flex: 0 1 auto;
   margin: 5px;
   margin-top: 15px;
   text-align: center;
   padding: auto;
   width: 250px;
   height: 250px;
   border: 1px solid grey;
   border-radius: 10px;
   background: rgba(249, 249, 249, 0.2);
 }
 .lowest_rated_books, .highest_rated_books, .top_users {
   flex: 0 1 auto;
   margin: 5px;
   text-align: center;
   padding: auto;
   width: 250px;
   height: 160px;
   padding: auto;
 }

 .author-book {
   flex: 0 1 auto;
   margin: 5px;
   text-align: center;
   padding: auto;
   width: 200px;
   height: 200px;
   border: 1px solid grey;
   border-radius: 10px;
   background: rgba(249, 249, 249, 0.2);
 }

 .author-header {
   text-align: center;
 }

 .review-box {
   flex: 0 1 auto;
   margin: 10px;
   margin-top: 15px;
   text-align: left;
   padding: 10px;
   width: 380px;
   min-height: 150px;
   height: auto;
   border: 1px solid grey;
   border-radius: 10px;
   background: rgba(249, 249, 249, 0.2);
 }

 .form-lines {
   margin: 5px;
 }

 .form-fields {
   margin-left: auto;
 }

 .sort-link {
   display: inline;
 }

 .user-review-header {
   text-align: center;
 }
